:root {
    --basic-white: #FFFFFF;
    --basic_white_rgba: rgba(255,255,255,.3);
    --basic_black_active: rgba(0,0,0,.3);
    --basic-blue: #81B3D2;
    --basic-blue-hover: #669EC0;
    --basic-blue-focus:#5496BD;
    --basic-lightgrey: #EEEEEE;
    --basic-brown: #766357;
    --basic-field: #F2F2F2;
    --basic-field-hover:#EBEBEB;
    --basic-field-focus: #E5E5E5;
    --basic-black: #000000;
    --basic-lightblack: #333333;
    --basic-brown-hover: #604E43;
    --basic-brown-focus: #503E33;
    --basic-grey: #CACACA;
    --basic_brown-text: #666666;
    --basic-background: rgba(0,1,1,.2);
}

.page {
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    gap: 0;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    box-shadow: 0px 5px 15px var(--basic-background);
}

.wrapper a {
    color: var(--basic-black);
    text-decoration: none;
}

.page_body {
    min-width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

.main_header {
    display: grid;
    margin-bottom: 15px;
}

.main_header,
.container
{
    text-align: center;
}

.main_navigation {
    display: grid;
}

.main_header_logo {
    width: 138px;
    height: 70px;
    justify-self: center;
}

.images {
    display: block;
    height: auto;
}

.main_navigation_list {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
}

.nav_list a:hover {
    color: var(--basic-blue);
}

.nav_list a:active {
    color: var(--basic_black_active);
}

.nav_list a:focus {
    color: var(--basic-brown);
}

.list {
    color: var(--basic-black);
    font-weight: 700;
    line-height: 26px;
}

.clear_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main_title,
.hotel_information {
    color: var(--basic-lightblack);
    font-weight: 400;
}

.main_title h1 {
    font-size: 21px;
    line-height: 26px;
}

.advantages {
    color: var(--basic-lightblack);
    line-height: 21px;
}

.advantages_block_img {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.advantage_blue {
    padding: 50px 50px;
}

.title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
}

.advantages_list {
    padding-bottom: 23px;
}

.advantages_block_light {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 160px;
    padding-bottom: 82px;
}

.background_grey {
    background-color: var(--basic-lightgrey);
    padding-top: 47px;
    padding-bottom: 54px;
}

.interested {
    line-height: 24px;
}

.interested h2 {
    font-size: 30px;
    font-weight: 700;
}

.button,
.found,
.contacts {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
}

.hotel_search_title {
    background-color: var(--basic-brown);
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    border: none;
    padding: 30px 124px;
}

.hotel_search_title:hover {
    background-color: var(--basic-brown-hover);
    color: var(--basic-white);
}

.hotel_search_title:active {
    background-color: var(--basic-brown-focus);
    color: var(--basic_white_rgba);
}

.search_list {
    text-align: left;
    padding-left: 371px;    /*Пока для наглядности, потом исправить значение */
}

.date {
    width: 346px;
}

.number {
    text-align: center;
    width: 114px;
}

.date,
.number {
    font-weight: 700;
    line-height: 26px;
    height: 38px;
    background-color: var(--basic-field);
}

.date:hover,
.number:hover {
    background-color: var(--basic-field-hover);
}

.date:focus,
.number:focus {
    border-color: var(--basic-field-focus);
}

.hotel_search_button {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    border: none;
    margin: 55px auto;
    width: 458px;
    padding: 16px 181px;
}

.hotel_search_button:hover {
    background-color: var(--basic-blue-hover);
}

.hotel_search_button:active {
    background-color: var(--basic-blue-focus);
    color: var(--basic_white_rgba);
}

.footer {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
    padding-top: 23px;
    padding-bottom: 36px;
    padding-left: 136px;
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
    padding: 36px 190px;
}

.created {
    line-height: 26px;
    padding-right: 261px;
    padding-top: 47px;
    color: var(--basic-brown);
}





                                    /*СТРАНИЦА КАТАЛОГА*/

.hotel_filter {
    background-color: var(--basic-background) /* Временно устанавливаю фоновый цвет, пока не вставлю фоновую картинку */
}

.hotel_filter li,
.hotel_filter fieldset  {
    color: var(--basic-white);
    font-weight: 400;
    text-align: left;
    border: none;
}

.subtitle {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}



.hotel_information a:hover {
    color: var(--basic-blue);
}

.hotel_information a:active {
    color: var(--basic_black_active);
}

.filter_search_button {
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: transparent;
}

.filter_search_button:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.sort_filter {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

.sort_filter_button {
    text-align: right;
}

.sort_filter_type button {
    color: var(--basic_black_active);
    border: none;
    border-bottom: 1px dashed var(--basic-blue);
    background-color: transparent;
    text-transform: uppercase;
}

.sort_filter_type button:hover {
    color: var(--basic-blue);
    background-color: transparent;
}

.sort_filter_type button:active {
    color: var(--basic-black);
    background-color: transparent;
    border-bottom: none;
}

.sort_filter_type button:focus {
    color: var(--basic-blue);
    background-color: transparent;
    border-bottom: none;
}

.sort_filter_button button {
    background-color: var(--basic-grey);
}

.sort_filter_button button:hover {
    background-color: var(--basic-black);
}

.sort_filter_button button:active,
.sort_filter_button button:focus {
    background-color: var(--basic-blue);
}

.hotels  {
    text-align: left;
}

.raiting {
    font-weight: 400;
    text-align: right;
    color: var(--basic_brown-text);
    background-color: var(--basic-field);  /* Я же могу сейчас просто задать фон, а потом уже сделать прямоугольник? */
}
