:root {
    --basic-white: #FFFFFF;
    --basic_white_rgba: rgba(255,255,255,.3);
    --basic_black_active: rgba(0,0,0,.3);
    --basic-blue: #81B3D2;
    --basic-blue-hover: #669EC0;
    --basic-blue-focus:#5496BD;
    --basic-lightgrey: #EEEEEE;
    --basic-brown: #766357;
    --basic-field: #F2F2F2;
    --basic-field-hover:#EBEBEB;
    --basic-field-focus: #E5E5E5;
    --basic-black: #000000;
    --basic-lightblack: #333333;
    --basic-brown-hover: #604E43;
    --basic-brown-focus: #503E33;
    --basic-grey: #CACACA;
    --basic_brown-text: #666666;
    --basic-background: rgba(0,1,1,.2);
}

.page {
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    gap: 0;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    box-shadow: 0px 5px 15px var(--basic-background);
}

.wrapper a {
    color: var(--basic-black);
    text-decoration: none;
}

.page_body {
    min-width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

.container {
    text-align: center;
}

.main_navigation {
    margin-bottom: 15px;
}

.main_header_logo {
    width: 138px;
    height: 70px;
    align-self: center;
}

.images {
    display: block;
    height: auto;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_list a:hover {
    color: var(--basic-blue);
}

.nav_list a:active {
    color: var(--basic_black_active);
}

.nav_list a:focus,
.selected {
    color: var(--basic-brown);
}

.list {
    color: var(--basic-black);
    font-weight: 700;
    line-height: 26px;
}

.clear_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main_title,
.hotel_information {
    color: var(--basic-lightblack);
    font-weight: 400;
}

.main_title h1 {
    font-size: 21px;
    line-height: 26px;
}

.advantages {
    color: var(--basic-lightblack);
    line-height: 21px;
}

.advantages_block_img {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.advantage_blue {
    padding: 50px 50px;
}

.title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
}

.advantages_list {
    padding-bottom: 23px;
}

.advantages_block_light {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 160px;
    padding-bottom: 82px;
}

.background_grey {
    background-color: var(--basic-lightgrey);
    padding-top: 47px;
    padding-bottom: 54px;
}

.interested {
    line-height: 24px;
}

.interested h2 {
    font-size: 30px;
    font-weight: 700;
}

.button,
.found,
.contacts {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
}

.hotel_search_title {
    background-color: var(--basic-brown);
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    border: none;
    padding: 30px 124px;
    margin-top: 24px;
    margin-bottom: 55px;
}

.hotel_search_title:hover,
.catalog_button_booking:hover {
    background-color: var(--basic-brown-hover);
    color: var(--basic-white);
}

.hotel_search_title:active,
.catalog_button_booking:active {
    background-color: var(--basic-brown-focus);
    color: var(--basic_white_rgba);
}

.interested_form .list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrival,
.departure,
.people {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 458px;
    margin: 0 55px;
}

.arrival,
.departure {
    margin-bottom: 30px;
}

.date {
    width: 346px;
    padding-left: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number {
    text-align: center;
    width: 114px;
    display: flex;
    justify-content: space-between;
}

.number input {
    width: 36px;
}

.date,
.number {
    font-weight: 700;
    line-height: 26px;
    height: 38px;
    background-color: var(--basic-field);
}

.date:hover,
.number:hover {
    background-color: var(--basic-field-hover);
}

.date:focus,
.number:focus {
    border-color: var(--basic-field-focus);
}

.button_more,
.button_less,
.open_calendar,
.number input,
.date input {
    border: none;
    background: none;
}

.hotel_search_button {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    border: none;
    margin: 55px auto;
    width: 458px;
    padding: 16px 181px;
}

.catalog_button:hover {
    background-color: var(--basic-blue-hover);
}

.catalog_button:active {
    background-color: var(--basic-blue-focus);
    color: var(--basic_white_rgba);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 36px 0;
}

.socials ul {
    display: flex;
}

.socials:not(:last-child) li {
    margin-left: 6px;
}

.created {
    display: flex;
}

.created_link {
    margin-left: 15px;
}

/*  /////////////////////////////////     СТРАНИЦА КАТАЛОГА     /////////////////////////////////  */

.catalog {
    padding-right: 73px;
    padding-left: 73px;
    box-shadow: 0px 5px 15px var(--basic-background);
}

.catalog_container h1,
.catalog_container h2 {
    text-align: center;
}

.hotel_filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--basic-background); /* Временно устанавливаю фоновый цвет, пока не вставлю фоновую картинку */
    margin: 0 -73px;
    padding-top: 26px;
    padding-bottom: 32px;
}

.hotel_filter li,
.hotel_filter fieldset  {
    color: var(--basic-white);
    font-weight: 400;
    text-align: left;
    border: none;
}

.comfort_filter {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-left: 72px;
}

.comfort li{
    padding-top: 25px;
}

.room_type li {
    padding-top: 25px;
}

.room_type {
    margin-left: 119px;
}

.subtitle {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.cost {
    padding-right: 73px;
    padding-left: 211px;
    text-align: left;
}

.cost_filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 17px;
    padding-bottom: 63px;
    padding-left: 62px;
}

.filter_search_button {
    margin: 0;
    padding: 8px 36px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: transparent;
}

.filter_search_button:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.sort_filter {
    font-size: 12px;
    line-height: 18px;
    margin-top: 30px;
    display: flex;
}

.found {
    display: inline-block;
    margin-right: 46px;
}

.sort {
    margin-right: 40px;
}

.sort_filter_type {
    display: flex;
}

.sort_filter_type button {
    color: var(--basic_black_active);
    border: none;
    border-bottom: 1px dashed var(--basic-blue);
    background-color: transparent;
    text-transform: uppercase;
    margin-right: 33px;
}

.sort_filter_type button:hover {
    color: var(--basic-blue);
    background-color: transparent;
}

.sort_filter_type button:active {
    color: var(--basic-black);
    background-color: transparent;
    border-bottom: none;
}

.sort_filter_type button:focus {
    color: var(--basic-blue);
    background-color: transparent;
    border-bottom: none;
}

.sort_filter_button {
    text-align: right;
    margin-left: auto;
}

.sort_filter_button button {
    background-color: var(--basic-grey);
}

.sort_filter_button button:hover {
    background-color: var(--basic-black);
}

.sort_filter_button button:active,
.sort_filter_button button:focus {
    background-color: var(--basic-blue);
}

.hotels {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-top: 1px solid var(--basic-field-focus);
}

.hotel_block {
    display: grid;
    gap: 0;
    grid-template-columns: min-content max-content min-content;
    grid-template-rows: 1fr;
    border-bottom: 1px solid var(--basic-field-focus);
    grid-template-areas:
    'hotel_img hotel_inf raiting';
}

.hotel_img {
    grid-area: hotel_img;
    padding: 0;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.hotel_information {
    width: 780px;
    grid-area: hotel_inf;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content max-content;
    grid-template-areas:
    'found .'
    'hotel_booking';
 }

.hotel_information .found {
    grid-area: found;
    margin-top: 23px;
    margin-right: auto;
}

.hotel_information a:hover {
    color: var(--basic-blue);
}

.hotel_information a:active {
    color: var(--basic_black_active);
}

.hotel_booking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
    'type price'
    'more booking';
    column-gap: 16px;
}

.hotel_type {
    grid-area: type;
}

.hotel_price {
    grid-area: price;
    margin-left: -10px;
}

.catalog_button {
    color: var(--basic-white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    border: none;
    height: 27px;
    margin-top: 15px;
}

.catalog_button_more {
    background-color: var(--basic-blue);
    width: 110px;
    grid-area: more;
}

.catalog_button_booking {
    background-color: var(--basic-brown);
    width: 142px;
    grid-area: booking;
    margin-left: -10px;
}

.raiting {
    grid-area: raiting;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    'stars'
    'score';
    font-weight: 400;
    color: var(--basic_brown-text);
    margin-bottom: 30px;
    margin-right: 73px;
}

.stars {
    color: red;
}

.score {
    background-color: var(--basic-field);
    border: none;
    height: 27px;
    width: 110px;
    text-align: center;
    margin-top: 47px;
}



