:root {
    --basic-white: #FFFFFF;
    --basic-blue: #81B3D2;
    --basic-blue-hover: #669EC0;
    --basic-blue-focus:#5496BD;
    --basic-grey: #888888;
    --basic-lightgrey: #EEEEEE;
    --basic-brown: #766357;
    --basic-field: #F2F2F2;
    --basic-field-hover:#EBEBEB;
    --basic-field-focus: #E5E5E5;
    --basic-black: #000000;
    --basic-lightblack: #333333;
    --basic-brown-hover: #604E43;
    --basic-brown-focus: #503E33;
}

.page_body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-lightblack);
    text-transform: uppercase;
    background-color: var(--basic-grey);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    background-color: var(--basic-white);
}

.main_header {
    background-color: #FFFFFF;
}

.nav_list li {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    list-style: none;
    background-color: #FFFFFF;
    color: var(--basic-black);
}

.nav_list li a {
    color: var(--basic-black);
}

.slogan {
    background-color: #FFFFFF;
    line-height: 26px;
    font-style: normal;
    text-align: center;
    letter-spacing: 0px;
}

.slogan h1 {
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0px;
    color: var(--basic-black);
}

.advantages {
  /*  background-color: var(--basic-white);  */
    color: var(--basic-lightblack);
}

.advantages li {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.advantage_white {
    background-color: #81B3D2;
    color: var(--basic-white);
}

.advantage_white .advantage_subtitle {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0px;
    color: var(--basic-white);
}

.advantage_subtitle {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0px;
    color: var(--basic-black);
}

.advantage_background_white {
    background-color: var(--basic-white);
}

.advantage_background_grey {
    background-color: var(--basic-lightgrey);
}

.interested {
    background-color: var(--basic-white);
    color: var(--basic-black);
    text-align: center;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0px;
}

.interested h2 {
    font-size: 30px;
    font-weight: 700;
}

.interested a {
    color: var(--basic-white);
}

.interested a:hover {
    background-color: var(--basic-brown-hover);
}

.hotel_search_title:focus {
        background-color: var(--basic-brown-focus);
        color: rgba(ff, ff, ff, 0.3);
}

.hotel_search_title {
    background-color: var(--basic-brown);
    color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.hotel_search_title a {
    vertical-align: middle;
}

.hotel_search_form {
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
}

.hotel_search_form .date:hover,
.hotel_search_form .number:hover {
    background-color: var(--basic-field-hover);
}

.hotel_search_form .date:focus,
.hotel_search_form .number:focus {
 background-color: var(--basic-white);
 border-color: var(--basic-field-focus);
}

.hotel_search_form .date {
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    background-color: var(--basic-field);
}

.hotel_search_form .number {
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--basic-field);
}

.hotel_search_button {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}

.hotel_search_button:hover {
    background-color: var(--basic-blue-hover);
}

.hotel_search_button:focus {
    background-color: var(--basic-blue-focus);
    color: rgba(ff, ff, ff, 0.3);
    }

.contacts {
    background-color: var(--basic-white);
    color: var(--basic-black)
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.contacts a {
    color: var(--basic-black);
}

.socials {
    background-color: var(--basic-white);
    text-align: center;
}

.socials li {
    list-style: none;
    text-decoration: none;
}

.created {
    background-color: var(--basic-white);
    color: var(--basic-black);
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}



